div {
	display: inline-block;
	width: 30px;
	height: 30px;
	border-right: 1px solid silver;
	border-bottom: 1px solid silver;
	box-sizing: border-box;
	cursor: pointer;
}
.selected {
	background: gold;
}
.new {
	background: yellow;
}
.gray {
	background: silver;
}